<html>
<head>
  <title>Login_Registration</title>  
</head>
<body>
    
    <div id="register">
      <h2>Registration</h2> 
      <form  action="/register" method="POST" id='register_form'>
        {% csrf_token %}
        <input type="hidden" name="type" value="register">
        <table>
          <tr>
            <td><label for="first_name">First Name:</label></td>
            <td><input type="text" id="first_name" name="first_name"></td>
            {% if messages %}
            <td>
                {% for message in messages %}
                  {%if 'first_name' in message.tags %}
                   <span style="color: red">{{ message }} </span>
                  {% endif %}
                {% endfor %}
            </td>
            {% endif %}
          </tr>
          <tr>
            <td><label for="last_name">Last Name:</label></td>
            <td><input type="text" id="last_name" name="last_name"></td>
            {% if messages %}
            <td>
                {% for message in messages %}
                  {%if 'last_name' in message.tags %}
                   <span style="color: red">{{ message }} </span>
                  {% endif %}
                {% endfor %}
            </td>
            {% endif %}
          </tr>
          <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="text" id="email" name="email"></td>
            {% if messages %}
            <td>
                {% for message in messages %}
                  {%if 'email' in message.tags %}
                   <span style="color: red">{{ message }} </span>
                  {% endif %}
                {% endfor %}
            </td>
            {% endif %}
          </tr>
          <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" id="password" name="password"></td>
            {% if messages %}
            <td>
                {% for message in messages %}
                  {%if 'password' in message.tags %}
                   <span style="color: red">{{ message }} </span>
                  {% endif %}
                {% endfor %}
            </td>
            {% endif %}
          </tr>
          <tr>
            <td><label for="conf_password">Repeat your password:</label></td>
            <td><input type="password" id="conf_password" name="conf_password"></td>
            {% if messages %}
            <td>
                {% for message in messages %}
                  {%if 'conf_password' in message.tags %}
                   <span style="color: red">{{ message }} </span>
                  {% endif %}
                {% endfor %}
            </td>
            {% endif %}
          </tr>
          <tr>
            <td><input type="submit" value="Register"></td>
          </tr> 
        </table>
        </div>
      </form>
  </div>
    <div id="login">
      <h2>Login</h2>

        {% if messages %}
            <td>
                {% for message in messages %}
                  {%if 'login' in message.tags %}
                   <span style="color: red">{{ message }} </span>
                  {% endif %}
                {% endfor %}
            </td>
        {% endif %}
      <form action='/login' method='POST' id='login_form'>
        {% csrf_token %}
        <input type="hidden" name="type" value="login">
        <table>
          <tr>
            <td><label for="email1">Email:</label></td>
            <td><input type="text" name="email1" id="email1"></td>
            
          </tr>
          <tr>
            <td><label for="password1">Password:</label></td>
            <td><input type="password1" name="password1" id="password1"></td>
            
          </tr>
          <tr>
            <td><input type="submit" value="Login"></td>
          </tr>
        </table>
      </form>
    </div>
</body>
</html>

